<header>
    <img src="https://ps.w.org/simple-embed-code/assets/icon-256x256.png?rev=2424928" alt="logo" class="img-logo" width="50px">
        <nav>
            <ul>
            <li><a href="../../views/html/index.html">Inicio</a></li>
            <li><a href="../../views/html/aplicaciones.html">Aplicaciones</a></li>
            <li><a href="../../views/html/about.html">Acerca de nosotros</a></l>
            <li><a href="../../views/html/contacto.html">Contacto</a></li>
            <li><a href="../../views/html/registro.html">Registrarse</a></li>
         </ul>
        </nav>
    </header>